<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>head0101_attack_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,174},{28,30}}</string>
                <key>offset</key>
                <string>{-3,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,68},{28,30}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,118},{24,30}}</string>
                <key>offset</key>
                <string>{-7,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,65},{24,30}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,22},{22,32}}</string>
                <key>offset</key>
                <string>{-10,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,63},{22,32}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,95},{24,32}}</string>
                <key>offset</key>
                <string>{-7,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,63},{24,32}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,145},{26,32}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,71},{26,32}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,172},{26,30}}</string>
                <key>offset</key>
                <string>{23,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,94},{26,30}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,24},{22,30}}</string>
                <key>offset</key>
                <string>{27,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,94},{22,30}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1},{20,32}}</string>
                <key>offset</key>
                <string>{27,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,90},{20,32}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{20,32}}</string>
                <key>offset</key>
                <string>{24,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,88},{20,32}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1},{30,22}}</string>
                <key>offset</key>
                <string>{-5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,74},{30,22}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,68},{26,24}}</string>
                <key>offset</key>
                <string>{-10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,74},{26,24}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,118},{28,24}}</string>
                <key>offset</key>
                <string>{-14,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,75},{28,24}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,170},{28,26}}</string>
                <key>offset</key>
                <string>{-11,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,72},{28,26}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,68},{32,24}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,73},{32,24}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,172},{30,26}}</string>
                <key>offset</key>
                <string>{26,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,79},{30,26}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,143},{26,26}}</string>
                <key>offset</key>
                <string>{29,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,79},{26,26}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,170},{26,28}}</string>
                <key>offset</key>
                <string>{28,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,75},{26,28}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,174},{28,28}}</string>
                <key>offset</key>
                <string>{25,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,74},{28,28}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,68},{26,24}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,74},{26,24}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,47},{24,22}}</string>
                <key>offset</key>
                <string>{-7,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,79},{24,22}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1},{26,20}}</string>
                <key>offset</key>
                <string>{-10,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,84},{26,20}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,47},{26,22}}</string>
                <key>offset</key>
                <string>{-8,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,79},{26,22}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1},{26,20}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,72},{26,20}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1},{22,20}}</string>
                <key>offset</key>
                <string>{15,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,69},{22,20}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,45},{22,22}}</string>
                <key>offset</key>
                <string>{15,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,66},{22,22}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,45},{26,22}}</string>
                <key>offset</key>
                <string>{14,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,65},{26,22}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_attack_30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1},{26,20}}</string>
                <key>offset</key>
                <string>{13,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,66},{26,20}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,22},{22,30}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,83},{22,30}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_move_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,93},{24,30}}</string>
                <key>offset</key>
                <string>{9,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,76},{24,30}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_move_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,145},{26,32}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,79},{26,32}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_move_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,118},{26,32}}</string>
                <key>offset</key>
                <string>{7,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,81},{26,32}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_move_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,95},{24,32}}</string>
                <key>offset</key>
                <string>{8,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,77},{24,32}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_move_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,93},{24,32}}</string>
                <key>offset</key>
                <string>{9,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,72},{24,32}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_move_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,93},{24,32}}</string>
                <key>offset</key>
                <string>{10,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,75},{24,32}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_move_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,93},{24,32}}</string>
                <key>offset</key>
                <string>{10,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,79},{24,32}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_move_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,70},{24,32}}</string>
                <key>offset</key>
                <string>{10,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,76},{24,32}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_move_20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,68},{28,24}}</string>
                <key>offset</key>
                <string>{11,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,73},{28,24}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_move_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,68},{30,24}}</string>
                <key>offset</key>
                <string>{10,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,77},{30,24}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_move_20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,147},{30,26}}</string>
                <key>offset</key>
                <string>{9,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,78},{30,26}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_move_20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,147},{28,26}}</string>
                <key>offset</key>
                <string>{9,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,74},{28,26}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_move_20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,143},{28,26}}</string>
                <key>offset</key>
                <string>{9,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,69},{28,26}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_move_20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,120},{28,26}}</string>
                <key>offset</key>
                <string>{9,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,71},{28,26}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_move_20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,120},{30,26}}</string>
                <key>offset</key>
                <string>{9,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,75},{30,26}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_move_20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,118},{30,26}}</string>
                <key>offset</key>
                <string>{10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,73},{30,26}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_move_30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,45},{26,22}}</string>
                <key>offset</key>
                <string>{6,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,66},{26,22}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_move_30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,45},{24,22}}</string>
                <key>offset</key>
                <string>{7,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,71},{24,22}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_move_30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,45},{22,22}}</string>
                <key>offset</key>
                <string>{8,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,74},{22,22}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_move_30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,22},{22,22}}</string>
                <key>offset</key>
                <string>{6,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,71},{22,22}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_move_30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,45},{24,22}}</string>
                <key>offset</key>
                <string>{4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,67},{24,22}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_move_30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,22},{26,22}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,69},{26,22}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_move_30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,22},{26,22}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,72},{26,22}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>head0101_move_30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,22},{24,22}}</string>
                <key>offset</key>
                <string>{5,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,68},{24,22}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>head0101.pvr.ccz</string>
            <key>size</key>
            <string>{203,203}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2259c322e279cb359438fc1df6e10fb:aff9f908332985a80637a8ddae9f9a78:942304a20a3c211d0df7e9c0fb2dad5e$</string>
            <key>textureFileName</key>
            <string>head0101.pvr.ccz</string>
        </dict>
    </dict>
</plist>
