<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shadow0101_attack_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,277},{44,42}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,110},{44,42}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,127},{78,34}}</string>
                <key>offset</key>
                <string>{-18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,103},{78,34}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{84,46}}</string>
                <key>offset</key>
                <string>{-25,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,94},{84,46}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,48},{82,48}}</string>
                <key>offset</key>
                <string>{-19,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,89},{82,48}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,310},{60,42}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,98},{60,42}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1},{84,26}}</string>
                <key>offset</key>
                <string>{24,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,121},{84,26}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,221},{88,26}}</string>
                <key>offset</key>
                <string>{26,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,121},{88,26}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,28},{92,28}}</string>
                <key>offset</key>
                <string>{27,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,121},{92,28}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,57},{88,30}}</string>
                <key>offset</key>
                <string>{25,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,120},{88,30}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,148},{56,28}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,112},{56,28}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,300},{64,44}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,111},{64,44}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1},{100,26}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,113},{100,26}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1},{100,24}}</string>
                <key>offset</key>
                <string>{-27,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,111},{100,24}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,82},{70,34}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,107},{70,34}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,217},{78,36}}</string>
                <key>offset</key>
                <string>{26,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,102},{78,36}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,217},{76,40}}</string>
                <key>offset</key>
                <string>{25,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,97},{76,40}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,221},{78,44}}</string>
                <key>offset</key>
                <string>{26,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,93},{78,44}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,88},{80,38}}</string>
                <key>offset</key>
                <string>{27,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,99},{80,38}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,286},{56,32}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,109},{56,32}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,93},{44,58}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,108},{44,58}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,158},{62,62}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,110},{62,62}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,97},{66,60}}</string>
                <key>offset</key>
                <string>{-16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,108},{66,60}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,189},{56,40}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,104},{56,40}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,148},{42,62}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,75},{42,62}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,322},{40,42}}</string>
                <key>offset</key>
                <string>{12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,95},{40,42}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,230},{46,42}}</string>
                <key>offset</key>
                <string>{11,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,95},{46,42}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_attack_30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,162},{54,64}}</string>
                <key>offset</key>
                <string>{9,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,73},{54,64}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,337},{42,36}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,118},{42,36}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_move_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,296},{70,38}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,105},{70,38}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_move_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,82},{70,34}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,107},{70,34}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_move_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,179},{70,30}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,110},{70,30}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_move_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,55},{72,26}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,113},{72,26}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_move_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,215},{70,28}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,110},{70,28}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_move_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,148},{70,30}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,109},{70,30}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_move_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,294},{72,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,114},{72,24}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_move_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,117},{70,30}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,109},{70,30}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_move_20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,26},{78,26}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,107},{78,26}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_move_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,28},{74,26}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,109},{74,26}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_move_20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,117},{70,30}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,107},{70,30}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_move_20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,211},{64,36}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,106},{64,36}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_move_20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,249},{62,36}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,107},{62,36}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_move_20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,210},{62,38}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,103},{62,38}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_move_20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,28},{64,32}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,105},{64,32}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_move_20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,53},{74,28}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,106},{74,28}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_move_30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,138},{50,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,100},{50,50}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_move_30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,286},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,101},{46,50}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_move_30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,286},{38,50}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,103},{38,50}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_move_30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,337},{36,50}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,105},{36,50}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_move_30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,230},{40,52}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,102},{40,52}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_move_30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,162},{40,52}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,101},{40,52}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_move_30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,337},{36,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,101},{36,50}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>shadow0101_move_30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,286},{42,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,100},{42,50}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shadow0101.pvr.ccz</string>
            <key>size</key>
            <string>{374,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aba5194a1eb2b5cd9d7b294114c9abde:b8412c91396fc5836ffb577c36620523:b6063ca274876cc3c8cfbaf440b5d47a$</string>
            <key>textureFileName</key>
            <string>shadow0101.pvr.ccz</string>
        </dict>
    </dict>
</plist>
