<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>weapon0101_attack_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{34,40}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,106},{34,40}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,95},{32,26}}</string>
                <key>offset</key>
                <string>{-42,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,95},{32,26}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,128},{44,18}}</string>
                <key>offset</key>
                <string>{-40,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,71},{44,18}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,1},{38,36}}</string>
                <key>offset</key>
                <string>{-35,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,54},{38,36}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,146},{16,24}}</string>
                <key>offset</key>
                <string>{-16,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,67},{16,24}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,143},{46,14}}</string>
                <key>offset</key>
                <string>{46,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,130},{46,14}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,119},{36,8}}</string>
                <key>offset</key>
                <string>{55,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,131},{36,8}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,202},{38,8}}</string>
                <key>offset</key>
                <string>{55,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,128},{38,8}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,91},{50,10}}</string>
                <key>offset</key>
                <string>{45,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,129},{50,10}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,42},{52,16}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,116},{52,16}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,24},{14,48}}</string>
                <key>offset</key>
                <string>{-33,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,101},{14,48}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,165},{42,14}}</string>
                <key>offset</key>
                <string>{-48,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,100},{42,14}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,171},{40,16}}</string>
                <key>offset</key>
                <string>{-47,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,89},{40,16}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,147},{44,10}}</string>
                <key>offset</key>
                <string>{-18,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,84},{44,10}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,146},{38,18}}</string>
                <key>offset</key>
                <string>{48,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,99},{38,18}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,146},{24,16}}</string>
                <key>offset</key>
                <string>{52,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,95},{24,16}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,158},{22,18}}</string>
                <key>offset</key>
                <string>{53,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,91},{22,18}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,58},{36,22}}</string>
                <key>offset</key>
                <string>{49,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,94},{36,22}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,171},{40,20}}</string>
                <key>offset</key>
                <string>{18,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,106},{40,20}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,42},{30,44}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,115},{30,44}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,197},{12,24}}</string>
                <key>offset</key>
                <string>{-32,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,121},{12,24}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,158},{20,12}}</string>
                <key>offset</key>
                <string>{-32,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,114},{20,12}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,1},{48,26}}</string>
                <key>offset</key>
                <string>{-9,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,84},{48,26}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,200},{6,16}}</string>
                <key>offset</key>
                <string>{24,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,72},{6,16}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,67},{4,4}}</string>
                <key>offset</key>
                <string>{18,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,69},{4,4}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,181},{8,32}}</string>
                <key>offset</key>
                <string>{19,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,66},{8,32}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_attack_30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,190},{6,32}}</string>
                <key>offset</key>
                <string>{25,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,67},{6,32}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,34},{32,38}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,117},{32,38}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_move_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,181},{30,18}}</string>
                <key>offset</key>
                <string>{-20,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,86},{30,18}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_move_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,129},{32,16}}</string>
                <key>offset</key>
                <string>{-22,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,90},{32,16}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_move_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,165},{34,20}}</string>
                <key>offset</key>
                <string>{-25,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,94},{34,20}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_move_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,158},{34,22}}</string>
                <key>offset</key>
                <string>{-25,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,93},{34,22}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_move_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,67},{34,26}}</string>
                <key>offset</key>
                <string>{-25,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,89},{34,26}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_move_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,94},{34,24}}</string>
                <key>offset</key>
                <string>{-24,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,92},{34,24}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_move_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,158},{32,22}}</string>
                <key>offset</key>
                <string>{-21,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,94},{32,22}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_move_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,181},{32,20}}</string>
                <key>offset</key>
                <string>{-21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,89},{32,20}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_move_20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,58},{36,34}}</string>
                <key>offset</key>
                <string>{-24,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,91},{36,34}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_move_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,173},{38,34}}</string>
                <key>offset</key>
                <string>{-24,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,95},{38,34}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_move_20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,51},{36,36}}</string>
                <key>offset</key>
                <string>{-23,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,101},{36,36}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_move_20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,88},{32,40}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,98},{32,40}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_move_20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,130},{30,42}}</string>
                <key>offset</key>
                <string>{-20,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,95},{30,42}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_move_20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,87},{30,42}}</string>
                <key>offset</key>
                <string>{-20,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,96},{30,42}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_move_20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1},{32,38}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,99},{32,38}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_move_20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,93},{34,36}}</string>
                <key>offset</key>
                <string>{-23,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,95},{34,36}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_move_30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,28},{22,48}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,95},{22,48}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_move_30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1},{22,48}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,99},{22,48}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_move_30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,95},{18,50}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,103},{18,50}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_move_30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,38},{14,52}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,100},{14,52}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_move_30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,38},{10,52}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,97},{10,52}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_move_30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,91},{12,52}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,99},{12,52}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_move_30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,128},{14,50}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,102},{14,50}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0101_move_30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,39},{18,48}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,99},{18,48}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weapon0101.pvr.ccz</string>
            <key>size</key>
            <string>{212,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56fad0948f6a58580598839c6ce79483:41db5ae247be2f4144bb8aabc8e91d67:b6b998731e6aea554469ee75cad6f54a$</string>
            <key>textureFileName</key>
            <string>weapon0101.pvr.ccz</string>
        </dict>
    </dict>
</plist>
