<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>transit_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,547},{778,292}}</string>
                <key>offset</key>
                <string>{91,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,248},{778,292}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>transit_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{512,540}}</string>
                <key>offset</key>
                <string>{-224,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,540}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>transit_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,3},{702,350}}</string>
                <key>offset</key>
                <string>{129,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,0},{702,350}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>transit_pic.pvr.ccz</string>
            <key>size</key>
            <string>{1224,842}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:418430a9ba1f65701308f882e210c2a7:0a1aa98b7640ec76b2e1abd772fa94d5:073c222dee2f1bf464bb1ce80ed393c8$</string>
            <key>textureFileName</key>
            <string>transit_pic.pvr.ccz</string>
        </dict>
    </dict>
</plist>
