<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body0101_attack_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,225},{38,46}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,88},{38,46}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,260},{48,42}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,85},{48,42}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,183},{44,48}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,79},{44,48}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,48},{50,50}}</string>
                <key>offset</key>
                <string>{-5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,77},{50,50}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,272},{48,48}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,81},{48,48}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,107},{56,44}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,94},{56,44}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1},{58,46}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,91},{58,46}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,225},{56,48}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,88},{56,48}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1},{52,46}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,91},{52,46}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,229},{26,52}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,84},{26,52}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,52},{56,54}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,79},{56,54}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1},{62,46}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,87},{62,46}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{62,50}}</string>
                <key>offset</key>
                <string>{-10,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,83},{62,50}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,52},{46,54}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,78},{46,54}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,52},{54,46}}</string>
                <key>offset</key>
                <string>{15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,87},{54,46}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1},{56,46}}</string>
                <key>offset</key>
                <string>{15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,87},{56,46}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1},{56,50}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,83},{56,50}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,282},{56,50}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,83},{56,50}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,321},{30,44}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,88},{30,44}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,48},{38,54}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,86},{38,54}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,107},{52,56}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,84},{52,56}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,164},{48,60}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,80},{48,60}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,164},{30,64}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,73},{30,64}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,152},{34,54}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,82},{34,54}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,282},{32,56}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,80},{32,56}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,105},{38,58}}</string>
                <key>offset</key>
                <string>{7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,78},{38,58}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_attack_30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,164},{40,58}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,78},{40,58}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,305},{42,34}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,98},{42,34}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_move_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,89},{48,46}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,86},{48,46}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_move_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,264},{48,48}}</string>
                <key>offset</key>
                <string>{6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,89},{48,48}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_move_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,207},{48,38}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,94},{48,38}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_move_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,223},{48,36}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,94},{48,36}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_move_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,272},{48,38}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,90},{48,38}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_move_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,256},{48,40}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,92},{48,40}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_move_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,99},{50,36}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,95},{50,36}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_move_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,103},{48,42}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,90},{48,42}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_move_20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,164},{60,38}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,86},{60,38}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_move_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,48},{52,40}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,90},{52,40}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_move_20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,313},{48,38}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,95},{48,38}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_move_20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,228},{44,46}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,84},{44,46}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_move_20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,103},{50,48}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,77},{50,48}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_move_20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,138},{44,46}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,82},{44,46}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_move_20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,309},{44,40}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,90},{44,40}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_move_20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,225},{54,38}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,88},{54,38}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_move_30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,48},{46,56}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,75},{46,56}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_move_30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,211},{40,48}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,81},{40,48}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_move_30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,273},{28,46}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,85},{28,46}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_move_30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,150},{32,54}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,82},{32,54}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_move_30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,152},{34,58}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,78},{34,58}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_move_30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,107},{36,56}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,73},{36,56}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_move_30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,321},{30,46}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,84},{30,46}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>body0101_move_30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,164},{38,60}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,72},{38,60}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body0101.pvr.ccz</string>
            <key>size</key>
            <string>{353,353}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79814ba7d1f8757a51e01b18b097dc7d:f3c6dcbf4402ba3a740f8edeed39c1ad:cdb5efdc8b28fa2c6a3e179dbc4752a8$</string>
            <key>textureFileName</key>
            <string>body0101.pvr.ccz</string>
        </dict>
    </dict>
</plist>
