<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>weapon0103_attack_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,84},{30,30}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,109},{30,30}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,106},{24,22}}</string>
                <key>offset</key>
                <string>{-38,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,94},{24,22}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,28},{36,16}}</string>
                <key>offset</key>
                <string>{-36,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,73},{36,16}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,1},{30,32}}</string>
                <key>offset</key>
                <string>{-32,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,58},{30,32}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,165},{14,18}}</string>
                <key>offset</key>
                <string>{-15,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,72},{14,18}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,63},{42,12}}</string>
                <key>offset</key>
                <string>{45,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,130},{42,12}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,22},{40,8}}</string>
                <key>offset</key>
                <string>{48,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,130},{40,8}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,174},{32,8}}</string>
                <key>offset</key>
                <string>{52,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,128},{32,8}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,62},{42,10}}</string>
                <key>offset</key>
                <string>{42,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,128},{42,10}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,106},{44,16}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,116},{44,16}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,159},{14,40}}</string>
                <key>offset</key>
                <string>{-33,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,101},{14,40}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,72},{34,12}}</string>
                <key>offset</key>
                <string>{-45,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,101},{34,12}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,65},{30,18}}</string>
                <key>offset</key>
                <string>{-44,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,87},{30,18}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,85},{34,10}}</string>
                <key>offset</key>
                <string>{-14,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,84},{34,10}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,129},{24,16}}</string>
                <key>offset</key>
                <string>{52,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,99},{24,16}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,146},{22,16}}</string>
                <key>offset</key>
                <string>{51,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,95},{22,16}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,165},{20,18}}</string>
                <key>offset</key>
                <string>{51,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,91},{20,18}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,151},{32,22}}</string>
                <key>offset</key>
                <string>{47,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,94},{32,22}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,78},{32,20}}</string>
                <key>offset</key>
                <string>{16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,106},{32,20}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,34},{28,34}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,117},{28,34}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,174},{10,20}}</string>
                <key>offset</key>
                <string>{-31,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,121},{10,20}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,163},{16,12}}</string>
                <key>offset</key>
                <string>{-30,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,114},{16,12}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1},{38,22}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,85},{38,22}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,146},{6,14}}</string>
                <key>offset</key>
                <string>{23,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,74},{6,14}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,99},{2,2}}</string>
                <key>offset</key>
                <string>{19,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,71},{2,2}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,139},{6,30}}</string>
                <key>offset</key>
                <string>{20,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,67},{6,30}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_attack_30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,149},{6,30}}</string>
                <key>offset</key>
                <string>{25,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,69},{6,30}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,130},{30,30}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,119},{30,30}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_move_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,146},{26,18}}</string>
                <key>offset</key>
                <string>{-18,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,86},{26,18}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_move_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,120},{26,18}}</string>
                <key>offset</key>
                <string>{-19,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,89},{26,18}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_move_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,99},{26,20}}</string>
                <key>offset</key>
                <string>{-22,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,94},{26,20}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_move_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,161},{28,22}}</string>
                <key>offset</key>
                <string>{-23,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,93},{28,22}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_move_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,115},{28,26}}</string>
                <key>offset</key>
                <string>{-23,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,89},{28,26}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_move_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,96},{28,24}}</string>
                <key>offset</key>
                <string>{-21,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,92},{28,24}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_move_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,142},{26,24}}</string>
                <key>offset</key>
                <string>{-19,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,93},{26,24}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_move_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,121},{26,20}}</string>
                <key>offset</key>
                <string>{-18,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,90},{26,20}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_move_20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,99},{30,30}}</string>
                <key>offset</key>
                <string>{-21,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,91},{30,30}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_move_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,34},{30,30}}</string>
                <key>offset</key>
                <string>{-22,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,96},{30,30}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_move_20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{30,32}}</string>
                <key>offset</key>
                <string>{-21,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,101},{30,32}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_move_20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,45},{26,34}}</string>
                <key>offset</key>
                <string>{-19,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,100},{26,34}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_move_20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1},{26,36}}</string>
                <key>offset</key>
                <string>{-18,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,96},{26,36}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_move_20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,69},{26,36}}</string>
                <key>offset</key>
                <string>{-18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,98},{26,36}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_move_20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,22},{26,34}}</string>
                <key>offset</key>
                <string>{-19,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,100},{26,34}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_move_20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,49},{28,32}}</string>
                <key>offset</key>
                <string>{-20,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,95},{28,32}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_move_30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,24},{20,40}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,96},{20,40}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_move_30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1},{20,40}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,101},{20,40}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_move_30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,45},{16,42}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,104},{16,42}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_move_30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,106},{12,42}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,102},{12,42}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_move_30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,99},{10,42}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,99},{10,42}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_move_30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,73},{10,42}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,100},{10,42}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_move_30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,84},{14,42}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,103},{14,42}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>weapon0103_move_30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,142},{16,40}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,100},{16,40}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weapon0103.pvr.ccz</string>
            <key>size</key>
            <string>{185,185}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a17fd48324da9cb646ce1378814b235:a65e8d85e85c23ef96f7af280f57f61c:2c7c9ed106fab6c06885fcb601a3871f$</string>
            <key>textureFileName</key>
            <string>weapon0103.pvr.ccz</string>
        </dict>
    </dict>
</plist>
