<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj04_attack_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,315},{72,72}}</string>
                <key>offset</key>
                <string>{-13,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,67},{72,72}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{82,108}}</string>
                <key>offset</key>
                <string>{-18,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,39},{82,108}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,340},{58,112}}</string>
                <key>offset</key>
                <string>{-6,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,35},{58,112}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1},{86,98}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,44},{86,98}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,161},{62,106}}</string>
                <key>offset</key>
                <string>{-5,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,43},{62,106}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,88},{92,78}}</string>
                <key>offset</key>
                <string>{27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,88},{92,78}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,167},{104,60}}</string>
                <key>offset</key>
                <string>{33,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,87},{104,60}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,82},{108,62}}</string>
                <key>offset</key>
                <string>{32,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,85},{108,62}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,133},{102,64}}</string>
                <key>offset</key>
                <string>{31,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,84},{102,64}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,388},{58,84}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,66},{58,84}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1},{100,80}}</string>
                <key>offset</key>
                <string>{-21,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,67},{100,80}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,110},{76,114}}</string>
                <key>offset</key>
                <string>{-9,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,43},{76,114}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,453},{56,112}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,43},{56,112}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,225},{64,114}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,43},{64,114}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,113},{108,54}}</string>
                <key>offset</key>
                <string>{38,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,85},{108,54}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,447},{88,60}}</string>
                <key>offset</key>
                <string>{28,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,80},{88,60}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,317},{90,62}}</string>
                <key>offset</key>
                <string>{28,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,79},{90,62}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1},{100,60}}</string>
                <key>offset</key>
                <string>{31,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,80},{100,60}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,474},{44,88}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,70},{44,88}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,145},{82,98}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,74},{82,98}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1},{106,80}}</string>
                <key>offset</key>
                <string>{-24,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,80},{106,80}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1},{98,84}}</string>
                <key>offset</key>
                <string>{-23,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,66},{98,84}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,228},{90,88}}</string>
                <key>offset</key>
                <string>{-10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,62},{90,88}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,236},{74,70}}</string>
                <key>offset</key>
                <string>{21,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,67},{74,70}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,430},{46,80}}</string>
                <key>offset</key>
                <string>{8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,57},{46,80}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,519},{46,82}}</string>
                <key>offset</key>
                <string>{8,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,57},{46,82}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_attack_30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,528},{52,76}}</string>
                <key>offset</key>
                <string>{8,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,62},{52,76}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,506},{54,76}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,71},{54,76}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_move_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,303},{92,68}}</string>
                <key>offset</key>
                <string>{-22,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,75},{92,68}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_move_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,236},{92,64}}</string>
                <key>offset</key>
                <string>{-23,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,77},{92,64}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_move_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,528},{88,62}}</string>
                <key>offset</key>
                <string>{-23,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,80},{88,62}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_move_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,528},{84,62}}</string>
                <key>offset</key>
                <string>{-21,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,78},{84,62}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_move_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,311},{86,64}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,76},{86,64}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_move_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,508},{82,64}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,76},{82,64}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_move_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,441},{84,64}}</string>
                <key>offset</key>
                <string>{-15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,76},{84,64}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_move_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,398},{90,64}}</string>
                <key>offset</key>
                <string>{-16,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,74},{90,64}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_move_20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,82},{78,96}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,69},{78,96}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_move_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,228},{74,92}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,73},{74,92}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_move_20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,224},{72,90}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,76},{72,90}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_move_20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,372},{68,92}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,73},{68,92}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_move_20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,380},{68,96}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,68},{68,96}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_move_20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,356},{62,94}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,69},{62,94}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_move_20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,463},{64,90}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,71},{64,90}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_move_20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,133},{74,92}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,70},{74,92}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_move_30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,228},{52,102}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,71},{52,102}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_move_30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,331},{50,98}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,75},{50,98}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_move_30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,228},{50,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,77},{50,96}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_move_30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,86},{46,98}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,72},{46,98}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_move_30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,62},{50,98}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,69},{50,98}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_move_30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,419},{54,94}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,71},{54,94}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_move_30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,301},{54,92}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,73},{54,92}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>wj04_move_30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,449},{46,96}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,72},{46,96}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj04.pvr.ccz</string>
            <key>size</key>
            <string>{591,591}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:145f4871670f4b80d15faecd7dc43011:42ef41dea5f30ded1072a4084c9ce43f:8cdd30503eeb2500e48440656c37461e$</string>
            <key>textureFileName</key>
            <string>wj04.pvr.ccz</string>
        </dict>
    </dict>
</plist>
